/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ^^^^CSS RESET^^^^ */
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--grey900);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 90%;
  max-width: 400px;
  min-width: 280px;
  height: 600px;

  background-color: var(--grey800);
  border-radius: 20px;

  display: grid;
  grid-template-rows: 40% 60%;

  padding: 20px;
}

.card-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-profile img {
  width: 90px;
  border-radius: 50%;
}

.card-profile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-profile-information h1 {
  color: var(--white);
  font-style: normal;
}
.card-profile-information p:nth-child(2) {
  color: var(--green);
  margin-top: 10px;
}
.card-profile-information p:last-child {
  color: var(--white);
  margin-top: 20px;
}

.card-links {
  display: flex;
}

.card-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
}
.card-links ul li {
  list-style: none;
  width: 100%;
  height: 50px;  
  border-radius: 10px;  
}

.card-links ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey700);
  border-radius: 10px;
  letter-spacing: 0.1rem;
}
.card-links ul li a:hover{
  background-color: var(--green);
  color: var(--grey800);
}

footer .attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
